textarea.clientInput {
    word-wrap: break-word;
    word-break: break-all;
    height: 80px; width: 400px;
}
input.shortInput { width: 140px; }
input.longInput { width: 220px; }
.divCustom { padding: 10px;}
.customBox {height: 160px; width: 400px; overflow-y: auto; display: inline-block;}
.customBoxes { display: inline-block; }
.macros { background-color: rgb(164, 231, 184)}
.aliases { background-color: rgb(218, 218, 148)}
.triggers { background-color: rgb(182, 195, 238)}
.subs {background-color: rgb(247, 193, 242)}
.blue { color: blue; }
.serveroutput {
    resize: both;
    overflow-y: scroll; 
    height: 500px; width: 800px; border: 1px solid black; 
}
.tooltip { position: relative; display: inline-block;  }
.tooltip .tooltiptext {
    display: none; 
    width: 280px;
    background-color: black; color: #fff;
    text-align: center; padding: 5px 0; border-radius: 6px;
    position: absolute; z-index: 1;
}
.tooltip:hover .tooltiptext { display: block; }
pre { margin: 0; border: 0; padding: 0; white-space: pre-wrap; }